html,body {
  height: 100%;
  margin: 0;
  font-family: 'RobotoDraft', sans-serif;
}
core-header-panel {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
core-toolbar {
  background: #03a9f4;
  color: white;
}

.item {
    margin: 10px 20px;
}

.more-wrapper {
    text-align: center;
    margin: 10px 0;
    .more {
        background-color: #03a9f4;
        color: white;
        width: calc(100% - 20px);
    }
}

// body {
//     font-family: Sans-Serif;
// }