.controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid #F0F0F0;
    //padding: 10px;

    .input-wrapper, .select, .switch-wrapper {
        margin: 10px;
    }

    .input-wrapper {
        min-width: 300px;
        flex-grow: 1;

        @media (max-width: 800px) {
            width: 100%;
        }
    }

    .select {
        width: 150px;
        vertical-align: middle;

        @media (max-width: 800px) {
            flex-grow: 1;
        }
    }

    .switch-label {
        vertical-align: middle;
        font-weight: bold;
    }

    .switch {
        vertical-align: middle;
    }

    .input-wrapper {
        position: relative;

        #definition {
            width: 100%;
        }
        .spinner {
            opacity: 0;
            width: 24px;
            height: 24px;
            position: absolute;
            right: 7px;
            top: 3px;
            & > * {
                background-color: #F0F0F0;
            }

            transition: all 0.2s ease-in-out;
            &.loading {
                opacity: 1;
            }
        }
    }
}