.entry {

    margin: 10px;
    // padding: 1px 6px;

    .header {
        margin: 0 10px;
        width: calc(100% - 20px);
    }

    .item {
        // margin: 0;
        // min-height: 0;
        // line-height: 1;
    }

    .definitions {
        padding-bottom: 10px;
    }

    .word {
        display: inline-block;
        font-style: normal;
        font-weight: bold;
    }

    a {
        text-decoration: none;
        color: #03a9f4;
        margin-right: 10px;
    }

    ul {
        margin: 0;
    }

    .spinner {
        width: 24px;
        height: 24px;
    }

    .available {
        fill: green;
    }

    .unavailable {
        fill: red;
    }
}