.entry {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    margin: 10px;
    padding: 10px;
    box-shadow: 1px 2px 8px rgba(0,0,0, 0.5);

    outline: 2px solid transparent;
    transition: all 0.25s ease-in-out;

    &.favorite {
        outline: 2px solid #3fb6f2;
    }

    &:nth-child(odd) {
        background-color: #F0F0F0;
    }

    .word-wrapper {
        flex: 1;
        max-width: 100%;
        width: 100%;
        .word {
            font-weight: bold;
            vertical-align: bottom;
            .word-text {
                vertical-align: bottom;
                margin-right: 10px;
            }
            .source {
                font-size: 21px;
                line-height: 1;
                vertical-align: middle;
                font-weight: normal;
                color: #AAA;
                cursor: pointer;
                span {
                    vertical-align: middle;
                }
                &:hover {
                    text-decoration: none;
                    color: #3fb6f2;
                }
                &.favorite {
                    color: #3fb6f2;
                }
            }
        }
        ul {
            list-style: disc;
            padding: 0 0 0 40px;
        }
        em {
            border-bottom: 2px solid #3fb6f2;
        }

        @media (max-width: 800px) {
            margin-bottom: 5px;
            padding-bottom: 5px;
            border-bottom: 2px dashed #AAA;
        }
    }

    .domain-wrapper {
        float: right;
        margin-left: 10px;
        white-space: nowrap;

        .labels {
            color: #AAA;
            font-weight: bold;
            text-align: right;

            span:nth-child(1) {
                text-align: right;
            }
            span:nth-child(2) {
                display: inline-block;
                text-align: center;
                width: 100px;
            }

            @media (max-width: 800px) {
                display: flex;
                text-align: left;
                span:nth-child(1) {
                    flex: 1;
                    text-align: left;
                }
            }
        }
        
        .domains {
            display: inline-block;
            width: 100%;
            text-align: right;
        }

        .domain {
            text-align: right;
            display: block;

            .link {
                text-align: right;
            }
            .status {
                display: inline-block;
                text-align: center;
                width: 100px;
                height: 27px;
                vertical-align: middle;
                .icon-dash, .icon-check, .icon-x {
                    font-size: 24px;
                }
                .icon-dash {
                    color: orange;
                }
                .icon-check {
                    color: green;
                }
                .icon-x {
                    color: red;
                }
                .spinner {
                    width: 24px;
                    height: 24px;
                    & > * {
                        background-color: orange;
                    }
                }
            }

            @media (max-width: 800px) {
                display: flex;
                text-align: right;

                .link {
                    flex: 1;
                    text-align: left;
                }
            }
        }

        @media (max-width: 800px) {
            width: 100%;
        }
    }

    @media (max-width: 800px) {
        flex-direction: column;
    }
}