.instructions {
    width: 50%;
    border: 5px solid #3fb6f2;
    background-color: white;

    margin: 10px;
    padding: 20px;

    h2 {
        font-size: 2em;
        font-weight: bold;
        line-height: 1;
    }

    p {
        margin: 20px 0;
    }
}